<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <title>Index</title>
</head>
<body>
<main>
    <div class="px-4 py-5 my-5 text-center">
        <img src="" class="d-block mx-auto mb-4" height="100" alt="Sistema Gestion de Ingresos y Egresos"/>
        <h1 class="display-5 fw-bold">Sistema Gestion de Ingresos y Egresos</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Gestiona las transacciones de las empresas y no pierdas el control de ellas</p>
            <div sec:authorize="!isAuthenticated()">
                <a th:href="@{/oauth2/authorization/auth0}" class="btn bnt-primary btn-lg px-4 gap-3">ACCEDER</a>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>