<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
    <main class="d-flex flex-nowrap">
        <div th:replace="capas/menu:: menu"></div>
        <div class="container-lg d-flex align-items-center">
            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch" >
                    <div class="card">
                        <div class="card-body p-4">
                            <a href="ingresosEgresos" class="text-black">
                                <h1 class="card-title text-center ">Sistema de gestión de ingresos y egresos</h1>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 d-flex align-items-stretch" >
                    <div class="card">
                        <div class="card-body p-4">
                            <a href="usuarios" class="text-black">
                                <h1 class="card-title text-center">Sistema de gestión de ususarios</h1>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 d-flex align-items-stretch" >
                    <div class="card">
                        <div class="card-body p-4">
                            <a href="empresas" class="text-black">
                                <h1 class="card-title text-center">Sistema de gestión de empresas</h1>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>